@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&family=Hind&display=swap');

@font-face {
  font-family: 'Special Elite';
  src: url('SpecialElite-Regular.woff2') format('woff2'),
    url('SpecialElite-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #141118;
  color: #fae5c7;
  font-family: 'Hind';
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.excuse-container {
  visibility: hidden;
  margin-top: 20px;
}

h1 {
  font-family: 'Coda';
  color: #ec9a29;
}

h3 {
  color: #ec9a29;
}

button {
  background-color: #ea638c;
  border: none;
  color: #141118;
  font-family: 'Coda';
  font-size: 18px;
}

.the-excuse {
  font-size: 18px;
  margin: 4px;
  color: #adf7b6;
  padding: 5px;
}

.excuse-confirm {
  margin: 10px;
}
.gallery-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.gallery-row {
  align-items: flex-start;
}

.gallery-row img {
  width: 80px;
  height: 80px;
  padding: 8px;
}

#card {
  width: 300px;
  height: 300px;
  background: none;
  font-family: 'Special Elite';
  font-size: 34px;
}

.card-container {
  display: block;
}
@media screen and (max-width: 768px) {
  .gallery-row img {
    width: 80px;
    height: 80px;
  }
}
