@font-face {
  font-family: 'Special Elite';
  src: url('SpecialElite-Regular.woff2') format('woff2'),
    url('SpecialElite-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: black;
  color: white;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.the-excuse {
  font-size: 48px;
}

.excuse-confirm {
  opacity: 0;
  margin: 40px;
}
.gallery-container {
  opacity: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.gallery-row {
  align-items: flex-start;
}

.gallery-row img {
  width: 80px;
  height: 80px;
  padding: 8px;
}

#card {
  width: 300px;
  height: 300px;
  background: none;
  font-family: 'Special Elite';
  font-size: 34px;
}

.card-container {
  display: block;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .gallery-row img {
    width: 80px;
    height: 80px;
  }
}
