@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&family=Hind&display=swap');

@font-face {
  font-family: 'Special Elite';
  src: url('SpecialElite-Regular.woff2') format('woff2'),
    url('SpecialElite-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #141118;
  color: #fae5c7;
  font-family: 'Hind';
  text-align: center;
  max-width: 1200px;
  margin: auto;
  position: relative;
  min-height: 100vh;
}

.excuse-container {
  margin-top: 20px;
}

.intro {
  font-size: 18px;
  height: 220px;
  margin-top: 80px;
  margin-left: 10px;
  margin-right: 10px;
}

h1 {
  font-family: 'Coda';
  color: #ec9a29;
  font-size: 32px;
}

h3 {
  color: #ec9a29;
}

button {
  background-color: #ea638c;
  border: none;
  color: #141118;
  font-family: 'Coda';
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
  text-decoration: none;
}
button:hover {
  background-color: #adf7b6;
}

#show-hide {
  display: none;
}

.pink-font {
  color: #ea638c;
}
.the-excuse {
  font-size: 18px;
  margin: 4px;
  color: #adf7b6;
  padding: 5px;
  padding-bottom: 25px;
}

.download {
  margin: 15px;
  margin-top: 50px;
  display: none;
}

.download-url {
  text-decoration: none;
}

.excuse-confirm {
  margin: 10px;
}
.gallery-container {
  display: none;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-row {
  align-items: flex-start;
}

.gallery-row img {
  width: 80px;
  height: 80px;
  padding: 8px;
}

#card {
  width: 300px;
  height: 300px;
  display: none;
  margin: auto;
}
.zero {
  animation: bounceUp 1.6s linear infinite;
}
@keyframes bounceUp {
  0% {
  }
  50% {
    transform: translateY(-8px);
  }
  70% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(3px);
  }
}

.useless-web {
  font-style: italic;
  font-size: 14px;
}
ul {
}
li {
  list-style: none;
  font-style: normal;
  display: inline;
  margin: 5px;
}
li a {
  color: #ea638c;
  font-style: bold;
  font-weight: 800;
  text-decoration: none;
}

li a:hover {
  color: #ec9a29;
}

.about {
  margin-top: 50px;
}

.about-button {
  background-color: transparent;
  color: #ec9a29;
}

.about-button:hover {
  background-color: transparent;
  color: #ea638c;
}
footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: none;
  padding-top: 20px;
}
@media screen and (max-width: 768px) {
  .gallery-row img {
    width: 75px;
    height: 75px;
  }
}
